extensions:
    nette.application: Nette\Bridges\ApplicationDI\ApplicationExtension
    nette.cache: Nette\Bridges\CacheDI\CacheExtension( %tempDir% )
    nette.http: Nette\Bridges\HttpDI\HttpExtension
    nette.latte: Nette\Bridges\ApplicationDI\LatteExtension( %tempDir% )
    codeception.http: Contributte\Codeception\DI\HttpExtension
    arachne.serviceCollections: Arachne\ServiceCollections\DI\ServiceCollectionsExtension
    arachne.verifier: Arachne\Verifier\DI\VerifierExtension
    arachne.componentsProtection: Arachne\ComponentsProtection\DI\ComponentsProtectionExtension
    kdyby.annotations: Kdyby\Annotations\DI\AnnotationsExtension

nette.application:
    catchExceptions: false
    mapping:
        *: Tests\Functional\Classes\*Presenter

services:
    routerFactory: Tests\Functional\Classes\RouterFactory
    router: @routerFactory::create()
