includes:
    - vendor-tools/phpstan/phpstan-nette/extension.neon
    - vendor-tools/phpstan/phpstan-nette/rules.neon

parameters:
    ignoreErrors:
        - '#^Parameter \#[0-9]++ \$[a-zA-Z]++ of method [a-zA-Z\\:]++\(\) expects [a-zA-Z\\]++, Eloquent\\Phony\\Mock\\Mock given#'
