extensions:
	kdyby.annotations: Kdyby\Annotations\DI\AnnotationsExtension
	arachne.verifier: Arachne\Verifier\DI\VerifierExtension
	arachne.componentsProtection: Arachne\ComponentsProtection\DI\ComponentsProtectionExtension

nette:
	application:
		catchExceptions: false
		mapping:
			*: Tests\Integration\Classes\*Presenter

services:
	routerFactory: Tests\Integration\Classes\RouterFactory
	router: @routerFactory::create()
